In [2]:
import pandas as pd
import numpy as np

# Data Cleaning

Before I begin creating the visuals that will aid my project, I am first goign to clean all of my dataset and make sure each of them are clean, easy to understand, and ready to be used. I will be goign through each dataset one by one to avoid confusion.

### The Billboard Hot 100s Chart Data Cleanup

**Reading the data**

In [4]:
hot100_read = pd.read_csv('chart_data.csv')

hot100_df = pd.DataFrame(hot100_read)

hot100_df

,week_of,rank,song_title,artist_name,peak_position
0,2024-02-03,1,Lovin On Me,Jack Harlow,1
1,2024-02-03,2,Cruel Summer,Taylor Swift,3
2,2024-02-03,3,Greedy,Tate McRae,4
3,2024-02-03,4,Lose Control,Teddy Swims,8
4,2024-02-03,5,I Remember Everything,Zach Bryan Featuring Kacey Musgraves,6
...,...,...,...,...,...
199995,1985-10-12,96,Everytime You Go Away,Paul Young,84
199996,1985-10-12,97,Janet,Commodores,92
199997,1985-10-12,98,Forever,Kenny Loggins,98
199998,1985-10-12,99,A Little Bit of Heaven,Natalie Cole,97
199999,1985-10-12,100,Wise Up,Amy Grant,94

In [ ]:
#checking this dataset

In [27]:
hot100_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   week_of        200000 non-null  object
 1   rank           200000 non-null  int64
 2   song_title     200000 non-null  object
 3   artist_name    200000 non-null  object
 4   peak_position  200000 non-null  object
dtypes: int64(1), object(4)
memory usage: 7.6+ MB

In [ ]:
# week_of is listed as an object
# change this variable to a date type

In [28]:
hot100_df['week_of'] = pd.to_datetime(hot100_df['week_of'])

hot100_df.head()

,week_of,rank,song_title,artist_name,peak_position
0,2024-02-03,1,Lovin On Me,Jack Harlow,1
1,2024-02-03,2,Cruel Summer,Taylor Swift,3
2,2024-02-03,3,Greedy,Tate McRae,4
3,2024-02-03,4,Lose Control,Teddy Swims,8
4,2024-02-03,5,I Remember Everything,Zach Bryan Featuring Kacey Musgraves,6

In [29]:
# now the week_of column is a datetime data type
hot100_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   week_of        200000 non-null  datetime64[ns]
 1   rank           200000 non-null  int64
 2   song_title     200000 non-null  object
 3   artist_name    200000 non-null  object
 4   peak_position  200000 non-null  object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 7.6+ MB

In [33]:
# next I will alos change the data type of the peak position column
#from object datatype to an integer data type

hot100_df['peak_position'] = hot100_df['peak_position'].astype(int)
hot100_df

ValueError: invalid literal for int() with base 10: '-'

In [37]:
hot100_df['artist_name'].unique()

array(['Jack Harlow', 'Taylor Swift', 'Tate McRae', ...,
       'The Power Station', 'The Family', 'Billy Crystal'], dtype=object)

In [36]:
count_dash = (hot100_df['peak_position'] == '-').sum()
print("Number of rows containing '-':", count_dash)

Number of rows containing '-': 17931

In [39]:
import re

# Define a regular expression pattern to match any artist names
pattern = r'([^,]+)(?: Featuring ([^\,]+))?$'

# Extract all artist names from the 'artist_name' column using the regular expression pattern
all_artists = hot100_df['artist_name'].apply(lambda x: re.findall(pattern, x))

# Create a new column in the DataFrame to store the extracted artist names
hot100_df['all_artists'] = all_artists
hot100_df = pd.DataFrame(hot100_df)
# Display the DataFrame
print(hot100_df)

          week_of  rank              song_title  \
0      2024-02-03     1             Lovin On Me
1      2024-02-03     2            Cruel Summer
2      2024-02-03     3                  Greedy
3      2024-02-03     4            Lose Control
4      2024-02-03     5   I Remember Everything
...           ...   ...                     ...
199995 1985-10-12    96   Everytime You Go Away
199996 1985-10-12    97                   Janet
199997 1985-10-12    98                 Forever
199998 1985-10-12    99  A Little Bit of Heaven
199999 1985-10-12   100                 Wise Up

                                 artist_name peak_position  \
0                                Jack Harlow             1
1                               Taylor Swift             3
2                                 Tate McRae             4
3                                Teddy Swims             8
4       Zach Bryan Featuring Kacey Musgraves             6
...                                      ...           ...
199995                            Paul Young            84
199996                            Commodores            92
199997                         Kenny Loggins            98
199998                          Natalie Cole            97
199999                             Amy Grant            94

                                       all_artists
0                                [(Jack Harlow, )]
1                               [(Taylor Swift, )]
2                                 [(Tate McRae, )]
3                                [(Teddy Swims, )]
4       [(Zach Bryan Featuring Kacey Musgraves, )]
...                                            ...
199995                            [(Paul Young, )]
199996                            [(Commodores, )]
199997                         [(Kenny Loggins, )]
199998                          [(Natalie Cole, )]
199999                             [(Amy Grant, )]

[200000 rows x 6 columns]

In [10]:
best_new = pd.read_csv('best_new2.csv')
best_new_df = pd.DataFrame(best_new)
best_new_df

    award_year                artist_name
0         1980           Rickie Lee Jones
1         1981          Christopher Cross
2         1982              Sheena Easton
3         1983                Men At Work
4         1984                    Culture
5         1985               Cyndi Lauper
6         1986                       Sade
7         1987  Bruce Hornsby & The Range
8         1988                Jody Watley
9         1989              Tracy Chapman
10        1990      Wind Beneath My Wings
11        1991               Mariah Carey
12        1992                  Marc Cohn
13        1993       Arrested Development
14        1994               Toni Braxton
15        1995                Sheryl Crow
16        1996      Hootie & The Blowfish
17        1997                LeAnn Rimes
18        1998                 Paula Cole
19        1999                Lauryn Hill
20        2000         Christina Aguilera
21        2001               Shelby Lynne
22        2002                Alicia Keys
23        2003                Norah Jones
24        2004                Evanescence
25        2005                   Maroon 5
26        2006                John Legend
27        2007           Carrie Underwood
28        2008              Amy Winehouse
29        2009                      Adele
30        2010             Zac Brown Band
31        2011         Esperanza Spalding
32        2012                   Bon Iver
33        2013                       Fun.
34        2014    Macklemore & Ryan Lewis
35        2015                  Sam Smith
36        2016             Meghan Trainor
37        2017          Chance The Rapper
38        2018               Alessia Cara
39        2019                   Dua Lipa
40        2020              Billie Eilish
41        2021        Megan Thee Stallion
42        2022             Olivia Rodrigo

In [12]:
artist_albums = pd.read_csv('artist_album_info.csv')
artist_albums_df = pd.DataFrame(artist_albums)
artist_albums_df

,artist_name,album_names,release_date,type
0,Rickie Lee Jones,"['Pieces of Treasure', 'Kicks', 'The Other Sid...","['2023-04-28', '2019-06-07', '2015-06-23', '20...","['album', 'album', 'album', 'album', 'album', ..."
1,Christopher Cross,"['Take Me As I Am', 'Secret Ladder', 'A Night ...","['2017-10-31', '2014-09-12', '2013-03-08', '20...","['album', 'album', 'album', 'album', 'album', ..."
2,Sheena Easton,"['The Definitive Singles 1980 - 1987', '15 Cla...","['2021-09-17', '2013-05-03', '2000-11-13', '20...","['album', 'album', 'album', 'album', 'album', ..."
3,Men At Work,"['Live in Christchurch 1982', 'Down Under 2011...","['2020-08-01', '2011-06-04', '1998-05-07', '19...","['album', 'album', 'album', 'album', 'album', ..."
4,Culture,"['Life', 'Live at Wembley - World Tour 2016', ...","['2019-05-01', '2017-12-08', '2003-01-01', '20...","['album', 'album', 'album', 'album', 'album', ..."
5,Cyndi Lauper,"['True Colors (35th Anniversary Edition)', 'Sp...","['2021-10-15', '2016-06-24', '2016-05-06', '20...","['album', 'album', 'album', 'album', 'album', ..."
6,Sade,"['Bring Me Home - Live 2011', 'Soldier of Love...","['2012-05-07', '2010-02-08', '2002-02-18', '20...","['album', 'album', 'album', 'album', 'album', ..."
7,Bruce Hornsby & The Range,"['Spirit Trail 25th Anniversary Edition', ""'Fl...","['2023-10-27', '2022-05-27', '2020-08-14', '20...","['album', 'album', 'album', 'album', 'album', ..."
8,Jody Watley,"['Paradise', 'Curvve Classics', 'The Makeover'...","['2014-07-28', '2008-10-24', '2006-08-08', '20...","['album', 'album', 'album', 'album', 'album', ..."
9,Tracy Chapman,"['Our Bright Future', 'Where You Live', 'Let I...","['2008-11-07', '2005-09-05', '2002-10-15', '20...","['album', 'album', 'album', 'album', 'album', ..."
10,Wind Beneath My Wings,"['susurrous', 'Somniphobia', 'SYSTEM_ERROR', '...","['2021-12-10', '2021-04-21', '2021-04-11', '20...","['single', 'single', 'single', 'single', 'sing..."
11,Mariah Carey,"['Music Box: 30th Anniversary Edition', 'Butte...","['2023-09-08', '2022-09-16', '2020-12-11', '20...","['album', 'album', 'album', 'album', 'album', ..."
12,Marc Cohn,"['The Complete Atlantic Albums', 'Work To Do',...","['2020-10-16', '2019-08-09', '2019-05-17', '20...","['album', 'album', 'album', 'album', 'album', ..."
13,Arrested Development,"['Bullets In The Chamber', 'On The Cutting Roo...","['2024-01-12', '2023-03-17', '2021-12-10', '20...","['album', 'album', 'album', 'album', 'album', ..."
14,Toni Braxton,"['Spell My Name', 'Sex & Cigarettes', 'Love, M...","['2020-08-28', '2018-03-23', '2014-01-01', '20...","['album', 'album', 'album', 'album', 'album', ..."
15,Sheryl Crow,"['Sheryl: Music From The Feature Documentary',...","['2022-05-06', '2021-08-13', '2019-08-30', '20...","['album', 'album', 'album', 'album', 'album', ..."
16,Hootie & The Blowfish,"['Imperfect Circle', 'Looking for Lucky', 'Hoo...","['2020-09-11', '2005-08-09', '2003-03-04', '20...","['album', 'album', 'album', 'album', 'album', ..."
17,LeAnn Rimes,"[""god's work (resurrected)"", ""god's work"", 'Wh...","['2023-11-10', '2022-09-16', '2021-09-10', '20...","['album', 'album', 'album', 'album', 'album', ..."
18,Paula Cole,"['American Quilt', 'Revolution', 'Ballads', 'T...","['2021-05-21', '2019-09-13', '2017-08-11', '20...","['album', 'album', 'album', 'album', 'album', ..."
19,Lauryn Hill,"['MTV Unplugged No. 2.0', 'The Miseducation of...","['2002-05-07', '1998-08-25', '1996-02-13', '20...","['album', 'album', 'album', 'single', 'single'..."
20,Christina Aguilera,"['Stripped - 20th Anniversary Edition', 'AGUIL...","['2022-10-21', '2022-09-27', '2018-06-15', '20...","['album', 'album', 'album', 'album', 'album', ..."
21,Shelby Lynne,"['Love, Shelby', 'I Am Shelby Lynne', 'The Ser...","['2022-05-11', '2022-02-23', '2021-09-13', '20...","['album', 'album', 'album', 'album', 'album', ..."
22,Alicia Kets,"['The Diary Of Alicia Keys 20', 'Inolvidable M...","['2023-12-01', '2023-06-13', '2023-05-31', '20...","['album', 'album', 'album', 'album', 'album', ..."
23,Norah Jones,"['Little Broken Hearts (Deluxe Edition)', 'I D...","['2023-06-02', '2022-10-21', '2021-04-16', '20...","['album', 'album', 'album', 'album', 'album', ..."
24,Evanescence,"['Fallen (Deluxe Edition / Remastered 2023)', ...","['2023-11-17', '2021-03-26', '2018-12-14', '20...","['album', 'album', 'album', 'album', 'album', ..."
25,Maroon 5,"['Overexposed', 'JORDI (Deluxe)', 'Red Pill Bl...","['2021-06-20', '2021-06-11', '2018-06-15', '20...","['album', 'album', 'album', 'album', 'album', ..."
26,John Legend,"['LEGEND (Solo Piano Version)', 'LEGEND', 'Big...","['2023-02-08', '2022-09-09', '2020-06-19', '20...","['album', 'album', 'album', 'album', 'album', ..."
27,Carrie Underwood,"['Denim & Rhinestones (Deluxe Edition)', 'Deni...","['2023-09-22', '2022-06-10', '2021-09-24', '20...","['album', 'album', 'album', 'album', 'album', ..."
28,Amy Winehouse,"['At The BBC', 'AMY (Original Motion Picture S...","['2021-05-07', '2015-10-30', '2011-01-01', '20...","['album', 'album', 'album', 'album', 'album', ..."
29,Adele,"['30', '25', '21', '19', 'Easy On Me', 'Hometo...","['2021-11-19', '2015-11-20', '2011-01-24', '20...","['album', 'album', 'album', 'album', 'single',..."
30,Zac Brown Band,"['From The Road, Vol. 1: Covers', 'The Comebac...","['2023-11-10', '2022-09-30', '2021-10-15', '20...","['album', 'album', 'album', 'album', 'album', ..."
31,Esperanza Spalding,"['Alive at the Village Vanguard', 'Radio Music...","['2023-01-06', '2022-12-02', '2022-09-02', '20...","['album', 'album', 'album', 'album', 'album', ..."
32,Bon Iver,"['i,i', '22, A Million', 'Bon Iver', 'For Emma...","['2019-08-09', '2016-09-30', '2011-06-21', '20...","['album', 'album', 'album', 'album', 'single',..."
33,Fun.,"['Some Nights', 'Some Nights', 'Aim and Ignite...","['2012-02-21', '2012-02-21', '2009-08-25', '20...","['album', 'album', 'album', 'single', 'single'..."
34,Macklemore & Ryan Lewis,"['BEN', 'GEMINI', ""This Unruly Mess I've Made""...","['2023-03-03', '2017-09-22', '2016-02-26', '20...","['album', 'album', 'album', 'album', 'album', ..."
35,Sam Smith,"['Gloria (Special Edition)', 'Gloria', 'Dear E...","['2023-04-12', '2023-01-27', '2021-09-24', '20...","['album', 'album', 'album', 'album', 'album', ..."
36,Meghan Trainor,"[""Takin' It Back (Deluxe)"", ""Takin' It Back"", ...","['2023-03-10', '2022-10-21', '2021-10-29', '20...","['album', 'album', 'album', 'album', 'album', ..."
37,Chance The Rapper,['Acid Rap (10th Anniversary - Complete Editio...,"['2023-04-30', '2020-12-23', '2019-07-26', '20...","['album', 'album', 'album', 'album', 'album', ..."
38,Alessia Cara,"['In The Meantime', 'This Summer: Live Off The...","['2021-09-24', '2020-07-17', '2018-11-30', '20...","['album', 'album', 'album', 'album', 'album', ..."
39,Dua Lipa,"['Future Nostalgia (The Moonlight Edition)', '...","['2021-02-11', '2020-08-28', '2020-03-27', '20...","['album', 'album', 'album', 'album', 'album', ..."
40,Billie Eilish,"['Happier Than Ever', 'WHEN WE ALL FALL ASLEEP...","['2021-07-30', '2019-03-29', '2023-07-13', '20...","['album', 'album', 'single', 'single', 'single..."
41,Megan Thee Stallion,"['Traumazine', 'Something for Thee Hotties', '...","['2022-08-12', '2021-10-29', '2020-11-20', '20...","['album', 'album', 'album', 'album', 'album', ..."
42,Olivia Rodrigo,['The Hunger Games: The Ballad of Songbirds & ...,"['2023-11-17', '2023-09-08', '2021-05-21', '20...","['album', 'album', 'album', 'single', 'single'..."

In [14]:
artist_genres = pd.read_csv('artist_general_info.csv')
artist_genres_df = pd.DataFrame(artist_genres)
artist_genres_df

,artist_name,genre,followers,popularity
0,Rickie Lee Jones,"['folk', 'singer-songwriter']",193228,44
1,Christopher Cross,"['mellow gold', 'soft rock', 'yacht rock']",986525,63
2,Sheena Easton,"['mellow gold', 'minneapolis sound', 'new roma...",659264,55
3,Men At Work,"['album rock', 'australian rock', 'classic roc...",1195301,66
4,Culture,"['new romantic', 'new wave', 'new wave pop', '...",1520222,63
5,Cyndi Lauper,"['dance pop', 'new wave pop', 'permanent wave'...",2547668,70
6,Sade,"['british soul', 'sophisti-pop']",3595959,73
7,Bruce Hornsby & The Range,"['album rock', 'heartland rock', 'mellow gold'...",391567,53
8,Jody Watley,"['contemporary r&b', 'freestyle', 'minneapolis...",309087,38
9,Tracy Chapman,"['folk', 'lilith', 'singer-songwriter', ""women...",1648750,72
10,Wind Beneath My Wings,['rhythm game'],1284,5
11,Mariah Carey,"['dance pop', 'pop', 'urban contemporary']",9553949,79
12,Marc Cohn,['mellow gold'],93858,53
13,Arrested Development,"['atl hip hop', 'conscious hip hop', 'hip hop'...",281179,49
14,Toni Braxton,"['contemporary r&b', 'dance pop', 'r&b', 'urba...",3951267,63
15,Sheryl Crow,"['lilith', 'new wave pop', 'permanent wave', '...",1110369,66
16,Hootie & The Blowfish,"['heartland rock', 'pop rock', 'post-grunge']",1085746,58
17,LeAnn Rimes,"['contemporary country', 'country', 'country d...",1321555,60
18,Paula Cole,"['ectofolk', 'lilith', 'new wave pop', 'pop ro...",160180,48
19,Lauryn Hill,"['alternative r&b', 'conscious hip hop', 'hip ...",2710651,72
20,Christina Aguilera,"['dance pop', 'pop']",7930707,77
21,Shelby Lynne,"['contemporary vocal jazz', 'ectofolk', 'folk'...",53175,47
22,Alicia Kets,"['neo soul', 'pop', 'r&b']",11274176,77
23,Norah Jones,"['contemporary vocal jazz', 'jazz pop', 'vocal...",3037159,73
24,Evanescence,['alternative metal'],4228105,72
25,Maroon 5,['pop'],40833918,85
26,John Legend,"['neo soul', 'pop', 'pop soul', 'urban contemp...",6577409,75
27,Carrie Underwood,"['classic oklahoma country', 'contemporary cou...",5821763,70
28,Amy Winehouse,"['british soul', 'neo soul']",8452990,75
29,Adele,"['british soul', 'pop', 'pop soul', 'uk pop']",53476119,85
30,Zac Brown Band,"['contemporary country', 'country', 'country r...",3695967,70
31,Esperanza Spalding,"['contemporary vocal jazz', 'electric bass', '...",370703,45
32,Bon Iver,"['chamber pop', 'eau claire indie', 'indie fol...",3506223,76
33,Fun.,"['baroque pop', 'metropopolis']",3078511,66
34,Macklemore & Ryan Lewis,"['pop rap', 'seattle hip hop']",2123334,76
35,Sam Smith,"['pop', 'uk pop']",23288123,83
36,Meghan Trainor,"['hip pop', 'pop']",14385563,76
37,Chance The Rapper,"['chicago rap', 'conscious hip hop', 'hip hop'...",5917237,72
38,Alessia Cara,"['canadian contemporary r&b', 'canadian pop', ...",11722969,73
39,Dua Lipa,"['dance pop', 'pop', 'uk pop']",42393246,87
40,Billie Eilish,"['art pop', 'pop']",91283648,88
41,Megan Thee Stallion,"['houston rap', 'pop', 'r&b', 'rap', 'trap que...",8650907,80
42,Olivia Rodrigo,['pop'],32901802,88

In [21]:
vmas_awards = pd.read_csv('vmas_winners_nominees.csv')
vmas_awards_df = pd.DataFrame(vmas_awards)
vmas_awards_df

      year                 award_category                  artist_name   win
0     1985  Best Art Direction In a Video                   Don Henley   Yes
1     1985  Best Art Direction In a Video                 Culture Club    No
2     1985  Best Art Direction In a Video                      Madonna    No
3     1985  Best Art Direction In a Video                 Peter Brown     No
4     1985  Best Art Direction In a Video                 Simple Minds    No
...    ...                            ...                          ...   ...
4027  2022             Video of the Year                      Doja Cat   No
4028  2022             Video of the Year                    Ed Sheeran   No
4029  2022             Video of the Year   Lil Nas X Feat. Jack Harlow   No
4030  2022           Video Vanguard Award                  Nicki Minaj  Yes
4031  2022              Global Icon Award        Red Hot Chili Peppers  Yes

[4032 rows x 4 columns]

In [22]:
amas_awards = pd.read_csv('ama_wins_nominees.csv')
amas_awards_df = pd.DataFrame(amas_awards)
amas_awards_df

      year                       award_name           artist_name   win
0     1985           Favorite Country Album          Kenny Rogers  Yes
1     1985           Favorite Country Album          Ricky Skaggs   No
2     1985           Favorite Country Album               Alabama   No
3     1985  Favorite Country Band/Duo/Group               Alabama  Yes
4     1985  Favorite Country Band/Duo/Group  The Statler Brothers   No
...    ...                              ...                   ...   ...
3152  2022           New Artist of the Year                 Latto   No
3153  2022           New Artist of the Year            Steve Lacy   No
3154  2022           New Artist of the Year                 Gayle   No
3155  2022           New Artist of the Year              MÃ¥neskin   No
3156  2022                       Icon Award         Lionel Richie  Yes

[3157 rows x 4 columns]

In [26]:
riaa_awards = pd.read_csv('RIAA_awards.csv')
riaa_awards_df = pd.DataFrame(riaa_awards)
riaa_awards_df

,artist_name,title,format,award_month,award_day,award_year,award_type,type
0,Rickie Lee Jones,Flying Cowboys,Album,September,18,1997,Gold,Standard
1,Rickie Lee Jones,Pirates,Album,September,30,1981,Gold,Standard
2,Rickie Lee Jones,Rickie Lee Jones,Album,May,22,1979,Gold,Standard
3,Rickie Lee Jones,Rickie Lee Jones,Album,August,7,1979,Platinum,Standard
4,Christopher Cross,Christopher Cross,Album,August,17,1980,5x Platinum,Standard
...,...,...,...,...,...,...,...,...
1431,Olivia Rodrigo,SOUR,Album,November,17,2021,2x Platinum,Standard
1432,Olivia Rodrigo,SOUR,Album,June,23,2021,Platinum,Standard
1433,Olivia Rodrigo,SOUR,Album,May,30,2021,Gold,Standard
1434,Olivia Rodrigo,All I Want,Single,July,23,2021,Platinum,Digital
1435,Olivia Rodrigo,All I Want,Single,April,23,2020,Gold,Digital